@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&family=Zen+Loop&display=swap');

#titulo1 {
font-family: 'Zen Loop', cursive !important;
font-size: 75px;
}

* {
  font-family: "Rajdhani", sans-serif;
}



.livros{
    background-color: white;
    color: #005555;
    text-decoration: none;    
}

#menu1 {
    margin-left: 500px;
} 

.margin{
    padding-bottom: 50px;
    padding-top: 20px;

}

.roupasebrinquedos{
    background-color: white;
    color: #005555;

}
.esperança{
    background-color: white;
    color: #005555;
}
.bg-footer{
    /* background-color: #68A7AD; */
    color: black;
}

